<!Doctype html>
<html lang="en">
    <head>
        <title>Inicio</title>
        <%- include('./partials/_head'); -%>
            
    </head>
    <body>
        <header>
            <%- include('./partials/_header'); -%>
            <h5 class="text-primary font-weight-bold" style="margin-top: 20px; margin-left: 25px; font-family:arial;">
                <u>Plugins sobre la calidad del aire</u></h5>
        </header>
        <main>
            <div class="col-md-8">
                <p style="margin-top: 20px; margin-left: 20px;"> 
                    En esta página podeis encontrar tres plugin cada uno de una zona diferente: Bermejales(Sevilla), Patra(Grecia) y Sofía(Bulgaria),
                    programados de forma personal e indivudal, es decir, estan formados por contamiantes diferentes adaptados así a las mediciones 
                    de las distintas estaciones.
                </p>
                <p style="margin-top: 20px; margin-left: 20px;"> Además encontraras en la ultima pestaña un generador de este, 
                    donde podrás buscar la zona que desee y descargarse su propio plugin. </p>
            </div>
        </main>
    </body>
</html>
